body{
    text-align: center;
    position:relative;
    background-image: url(./Images/vector-wallpaper-water-abstract.jpg);
    background-size:100%;
    
}



.nav{
    display: grid;
    grid-template-areas: 'Home About Product Contact';
    gap: 5%;
    max-width: 800px;
    margin: auto;
}


.nav > div{
    margin-top: 5%;
    text-align: center;
}
.Content{
    max-width: 800px;
    margin: auto;
}

.navHome{grid-area: Home;}
.navAbout{grid-area: About;}
.navProduct{grid-area: Product;}
.navContact{grid-area: Contact;}

/* nav, a, h1{
    padding: 1rem 1rem 0 1rem;
} */

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p, a, footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

&::before {
    content: "";
    position:fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(250, 248, 248, 0.8);
}


.box {
    display:inline-block;
    background-color: rgba(120, 219, 226, 0.7);
    border-radius: 1rem;
    max-width: 200px;
}

.productPictures{
    width: auto;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.productPrice, .productName{
    margin: 5px;
    text-wrap: wrap;
}

input[type="button"] {
    margin: 0 0 12px 0;
  }

.productPictures:hover{
    opacity: 0.75;
    transition: .5s ease;
}
/* .links{
    padding: unset;
} */
.contact{
    max-width: 800px;
}

hr{
    width: 50%;
}
/* @media (min-width: 600px) {
    .column {
      width: 50%;  
    }
  } */