body{
    padding: 1rem;
    text-align: center;
    position:sticky;
    background-image: url(https://images.alphacoders.com/132/1326930.png);
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 45%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

nav, a, h1{
    padding: 1rem 1rem 0 1rem;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p, a, footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

&::before {
    content: "";
    position:fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(250, 248, 248, 0.65);
}


.box {
    display:inline-block;
    background-color: rgba(120, 219, 226, 0.7);
    border-radius: 1rem;
    max-width: 200px;
}

.productPictures{
    width: auto;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.productPrice, .productName{
    margin: 5px;
    text-wrap: wrap;
}

input[type="button"] {
    margin: 0 0 12px 0;
  }

.productPictures:hover{
    opacity: 0.75;
    transition: .5s ease;
}

.footer{
    padding: 200px 200px 200px 200px;
}
.links{
    padding: unset;
}
.contact{
    text-align: left;
}